# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env
venv/
.env/

# Logs
*.log
logs

# Model Files
models/*.pkl
models

# Data (if large)
data/raw/
data/processed
outputs

# OS
.DS_Store
Thumbs.db

# IDE
.idea/